{% extends "layout.html" %}
{% block title %}Chat History{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
{%endblock%}
{% block main %}
<div class="container mt-4">
    <h1>Chat History</h1>
    <div class="list-group">
        <table class="table table-bordered mb-4">
            <thead>
                <tr>
                    <th scope="col">SNo.</th>
                    <th scope="col">User Message</th>
                    <th scope="col">Bot Response</th>
                    <th scope="col">Timestamp</th>
                </tr>
            </thead>
        {% if not chats %}
            <tbody>
                <tr>
                    <td colspan="4" class="text-center">No chat history available.</td>
                </tr>
            </tbody>
        {% endif %}
        {% for chat in chats %}
                <tbody>
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{ chat[2] }}</td>
                        <td>{{ chat[3] }}</td>
                        <td>{{ chat[4]}}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}
